@model DashInformationViewModel
@{
	Layout = "_Dashboard";
}



<div class="m-4 p-4">

	<div class="company-info">
		<div class="m-2">
			<h2>@Model.Provider.ComercialName</h2>
			<h5>CI nº @Model.Provider.CI</h5>
			<h6>Company Type: @Model.Provider.CompanyType.Name</h6>
			<div>E-mail: @Model.Provider.Email</div>
			<div>Comercial Phone: @Model.Provider.Phone</div>
		</div>
		<div class="m-2">
			<div>@Model.Provider.Address.Road, n° @Model.Provider.Address.Number, @Model.Provider.Address.Complement,
				@Model.Provider.Address.Block</div>
			<div>@Model.Provider.Address.City</div>
			<div>State of @Model.Provider.Address.State</div>
			<div>Postal code: @Model.Provider.Address.PostalCode</div>
		</div>
		<div class="company-logo">
			<img src="~/assets/company.png" alt="Company Logo" />
		</div>
	</div>
	<hr>
	<script src="~/js/site.js"></script>
	<div id="chart_div" style="width: 100%; height: 500px;"></div>
</div>
