@model DashInformationViewModel
@{
	Layout = "_Dashboard";
}

<div class="m-4 p-4">

	<div class="company-info">
		<div>
			<h2>@Model.Taker.ComercialName</h2>
			<h5>CI nº @Model.Taker.CI</h5>
			<h6>Company Type: @Model.Taker.CompanyType</h6>
			<div>E-mail: @Model.Taker.Email</div>
			<div>Comercial Phone: @Model.Taker.Phone</div>
		</div>
		<div>
			<div>@Model.Taker.Address.Road, n° @Model.Taker.Address.Number, @Model.Taker.Address.Complement, @Model.Taker.Address.Block</div>
			<div>@Model.Taker.Address.City</div>
			<div>State of @Model.Taker.Address.State</div>
			<div>Postal code: @Model.Taker.Address.PostalCode</div>
		</div>
		<div class="company-logo">
			<img src="~/assets/company.png" alt="Company Logo"/>
		</div>
	</div>
	<hr>
	<div class="card p-3">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor sodales ultrices. Duis eget nisi
		turpis. Duis ut porta ante. Aliquam pellentesque vehicula ipsum, vitae sodales nunc mollis venenatis.
		Suspendisse eu tellus nec ligula eleifend ornare. Nulla eleifend risus nec nulla varius, euismod lacinia lectus
		consectetur. Curabitur ut tincidunt dolor.
	</div>
</div>
